.game {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container_results {
    flex-direction: column;
}

.question {
    color: #049c8d;
    font-size: 1.5rem;
}

.results_title {
    color: #049c8d;
    font-size: 2rem;
}

.title_green {
    color: #049c8d;
}

.title_red {
    color: tomato;
}

.ratio {
    color: gray;
    font-size: 6rem;
}

.green_button_big {
    margin: 40px;
    min-height: 50px;
    min-width: 170px;
    text-align: center;
    color: #fffcfd;
    background-color: #29c4b4;
    border: #049c8d 2px solid;
    border-radius: 10px;
    font-size: x-large;
    font-family: 'Chilanka', cursive;
}